#num0 {
    background-color: rgb(74, 74, 74);
    color: white;
    font-size: 30px;
    font-family: monospace;

    text-align: start;
    padding-left: 15px;
    border: 0px;
    width: 170px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    top: 208px;
    left: 10px;


}

#grid-container button:hover {
    background-color: rgb(156, 156, 156);
    transition: all ease-in-out .5s;
    scale: 1.1;
}

#equals {
    background-color: rgb(242, 176, 76);
    color: white;
    font-size: 40px;
    font-family: monospace;

    text-align: end;
    padding-right: 15px;
    border: 0px;
    width: 170px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    top: 370px;
    left: 240px;


}

#grid-container #equals:hover {
    background-color: rgb(249, 204, 136);
    transition: all ease-in-out .5s;
}

#num1 {
    background-color: rgb(74, 74, 74);
    color: white;
    font-size: 30px;
    font-family: monospace;



    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    top: 121px;
    right: 167px;


}

#num2 {
    background-color: rgb(74, 74, 74);
    color: white;
    font-size: 30px;
    font-family: monospace;



    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    top: 121px;
    right: 144px;
}

#num3 {
    background-color: rgb(74, 74, 74);
    color: white;
    font-size: 30px;
    font-family: monospace;



    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    top: 121px;
    right: 101px;
}

#plus {
    background-color: rgb(242, 176, 76);

    color: white;
    font-size: 40px;
    font-family: monospace;



    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    top: 285px;
    left: 160px;
}

#grid-container #plus:hover {
    background-color: rgb(242, 176, 76);
}


#num4 {
    background-color: rgb(74, 74, 74);
    color: white;
    font-size: 30px;
    font-family: monospace;



    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    bottom: 44px;
    left: 2px;


}

#grid-container button:hover {
    background-color: rgb(156, 156, 156);
    transition: all ease-in-out .5s;
}

#num5 {
    background-color: rgb(74, 74, 74);
    color: white;
    font-size: 30px;
    font-family: monospace;



    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    bottom: 44px;
    left: 29px;

}

#grid-container button:hover {
    background-color: rgb(156, 156, 156);
    transition: all ease-in-out .5s;
}

#num6 {
    background-color: rgb(74, 74, 74);
    color: white;
    font-size: 30px;
    font-family: monospace;



    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    bottom: 44px;
    left: 70px;


}

#grid-container button:hover {
    background-color: rgb(156, 156, 156);
    transition: all ease-in-out .5s;
}

#minus {
    background-color: rgb(242, 176, 76);

    color: white;
    font-size: 40px;
    font-family: monospace;



    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    top: 200px;
    left: 77px;
}

#grid-container #minus:hover {
    background-color: rgb(242, 176, 76);
}

#num7 {
    background-color: rgb(74, 74, 74);
    color: white;
    font-size: 30px;
    font-family: monospace;



    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    bottom: 131px;
    right: 237px;


}

#num8 {
    background-color: rgb(74, 74, 74);
    color: white;
    font-size: 30px;
    font-family: monospace;



    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    bottom: 131px;
    right: 210px;


}

#num9 {
    background-color: rgb(74, 74, 74);
    color: white;
    font-size: 30px;
    font-family: monospace;



    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    bottom: 211px;
    left: 232px;

}


#grid-container button:hover {
    background-color: rgb(156, 156, 156);
    transition: all ease-in-out .5s;
}

#multiply {
    background-color: rgb(242, 176, 76);

    color: white;
    font-size: 45px;
    font-family: monospace;



    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    top: 33px;
    left: 335px;
}

#grid-container .multiply:hover {
    background-color: rgb(242, 176, 76);
}


#AC {
    background-color: rgb(195, 192, 192);
    color: black;
    font-size: 30px;
    font-family: monospace;



    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    bottom: 57px;
    right: 80px;


}

#grid-container #AC:hover {
    background-color: rgb(234, 231, 231);
    transition: all ease-in-out .5s;
}

#negative {
    background-color: rgb(195, 192, 192);
    color: black;
    font-size: 30px;
    font-family: monospace;



    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    bottom: 57px;
    right: 55px;


}

#grid-container #negative:hover {
    background-color: rgb(234, 231, 231);
    transition: all ease-in-out .5s;
}

#percent {
    background-color: rgb(195, 192, 192);
    color: black;
    font-size: 30px;
    font-family: monospace;



    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    bottom: 57px;
    right: 20px;


}

#grid-container .percent:hover {
    background-color: rgb(234, 231, 231);
    transition: all ease-in-out .5s;
}

#divide {
    background-color: rgb(242, 176, 76);

    color: white;
    font-size: 40px;
    font-family: monospace;



    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 70px;

    position: relative;
    bottom: 55px;
    left: 0px;
}

#grid-container #divide:hover {
    background-color: rgb(242, 176, 76);
}